.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}


.ex-1-square:hover{
    background-color: red;
    transition: background-color 2s linear 0.2s;
}
.ex-2-square:active{
    width: 1100px ;
    transition: width 3s linear 0.2s;
}
.ex-3-square:hover{
    border-radius: 100%;
    transition: border-radius 2s linear 0.2s;
}
.ex-4-square:hover{
    filter: opacity(0);
    transition: filter 2s linear 0.2s;
}
.ex-5-square:hover{
    width: 100px;
    height: 100px;
    margin: 0px;
    transition: all 2s linear 1s;
}
.ex-5-square:active{
    margin: 35px;
    height: 30px;
    width: 30px;
    transition: all 2s linear;
}
.ex-6-img:hover{
    filter: grayscale(1);
    transition: filter;
}
.ex-7-img:hover{
    filter: grayscale(1) blur(20px);
    transition: all 2s linear;
}
.ex-8-img:hover{
    filter: grayscale(1) blur(2px);
    border-radius: 1rem;
    transition: all 2s linear;
}
.ex-9-img:hover{
    filter: sepia(1) hue-rotate(45deg);
    border-radius: 1rem;
    width: 500px;
    margin: 0px 0px;
    transition: all 2s linear;
}

.ex-10-icon:hover{
    animation: rotate 2s linear;
    animation-iteration-count: 2;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.ex-11-icon:hover{
    animation: rotate2 2s linear;
    animation-iteration-count: 1;
}
@keyframes rotate2 {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.ex-12-button:hover  .ex-12-bottom-white{
    animation: move-left 2s linear;
}

@keyframes move-left {
    0%{
        bottom: -10px;
        right: 20%;
    }
    50%{
        bottom: -10px;
        right: calc(100% - 60px)
    }
    100%{
        bottom: -10px;
        right: 20%;
    }
}
.ex-12-button:hover  .ex-12-top-white{
    animation: move-right 2s linear;
}

@keyframes move-right {
    0%{
        top: -10px;
        left: 10%;
    }
    50%{
        top: -10px;
        left: calc(100% - 60px);
    }
    100%{
        top: -10px;
        left: 10%;
    }
}
.ex-13-bottom-white{
    animation: bottom-left 3s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bottom-left {
    0%{
        bottom: -10px;
        right: 20%;
    }
    33.3%{
        bottom: -10px;
        right: 75%;
    }
    66.6%{
        bottom: 50px;
        right: 75%;
    }
    100%{
        bottom: 50px;
        right: 60%;
    }
}
.ex-13-top-white{
    animation: top-right 3s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes top-right {
    0%{
        top: -10px;
        left: 10%;
    }
    33.3%{
        top: -10px;
        left: 75%;
    }
    66%{
        top: 50px;
        left: 75%;
    }
    100%{
        top: 50px;
        left: 50%;
    }
}